{% extends 'base.html' %} {% block body %}
<br />
<h2>Create New Post</h2>
<hr />
<br />
<form action="/posts/new_post" method="POST">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.title.label }}: {{ form.title(class="form-control",
    placeholder="Enter Title") }}
    <br />
    {{ form.author.label }}: {{ form.author(class="form-control",
    placeholder="Enter Author") }}
    <br />
    {{ form.content.label }}: {{ form.content(class="form-control", rows="5",
    placeholder="Enter Content") }}
    <br />
    <input class="btn btn-success" type="submit" value="Post" />
  </div>
</form>

{% endblock %}
