{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<br>
<h2>Home</h2>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my blog. Here everything is about computer science. You can find topics related to data science, machine learning, and many more.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Posts »</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}