{% extends 'base.html' %}
{% block head %}
<title>Posts</title>
{% endblock %}
{% block body %}
<br>
<div class="d-flex">
    <h2>All Posts</h2>
    <div class="ml-auto p-2">
        <a class="btn btn-success btn-sm" href="/posts/new_post">+ Create Post</a>
    </div>
</div>
<hr>
{% for post in posts %}
<h3>{{ post.title }}</h3>
{% if post.author %}
<small>By: {{ post.author}}</small>
{% else %}
<small>N/A</small>
{% endif %}
<br>
<br>
<p>{{ post.content }}</p>
<a href="/posts/delete/{{ post.id }}"><button class="btn btn-danger">Delete</button></a>
<a href="/posts/edit/{{ post.id }}"><button class="btn btn-primary">Edit</button></a>
<hr>
{% endfor %}
{% endblock %}